<!--
-->
<div class="div-component">
    <div style="margin-bottom: 7px">
        <p-button icon="pi pi-chevron-left" label="Retour" (onClick)="back()"></p-button>
    </div>

    <form [formGroup]="articleForm" (ngSubmit)="save()">
        <div>
            <p-panel>
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title">{{ titre }}</span>
                    </div>
                </p-header>
                <div class="ui-fluid" style="margin-bottom: 13px" *ngIf="article.id">
                    <span class="span-label" style="display: block">Numéro d'article</span>
                    <span>{{ article.numero }}</span>
                </div>
                <div class="ui-fluid" style="margin-bottom: 13px">
                    <span class="span-label">Nom de l'article</span>
                    <input pInputText formControlName="nom">
                </div>
                <div class="ui-fluid" style="margin-bottom: 13px">
                    <span class="span-label">Code</span>
                    <input pInputText formControlName="code">
                </div>
                <div class="ui-fluid" style="margin-bottom: 13px">
                    <span class="span-label">Fournisseur</span>
                    <p-dropdown [options]="fournisseurOptions" filter="true" formControlName="fournisseur" baseZIndex="200"></p-dropdown>
                </div>
            </p-panel>

            <p-toolbar [style]="{'margin-top':'7px'}">
                <div class="ui-toolbar-group-right">
                    <button pButton type="submit" icon="pi pi-save" label="Enregistrer"></button>
                    <button pButton type="button" icon="pi pi-times" class="ui-button-danger"
                            label="Supprimer"></button>
                </div>
            </p-toolbar>
        </div>
    </form>
</div>
