<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="utilisateur">
            <h2><span jhiTranslate="spiralErpApp.utilisateur.detail.title">Utilisateur</span> {{utilisateur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="spiralErpApp.utilisateur.telephone">Telephone</span></dt>
                <dd>
                    <span>{{utilisateur.telephone}}</span>
                </dd>
                <dt><span jhiTranslate="spiralErpApp.utilisateur.adresse">Adresse</span></dt>
                <dd>
                    <span>{{utilisateur.adresse}}</span>
                </dd>
                <dt><span jhiTranslate="spiralErpApp.utilisateur.jhiUser">Jhi User</span></dt>
                <dd>
                    {{utilisateur.jhiUser?.id}}
                </dd>
                <dt><span jhiTranslate="spiralErpApp.utilisateur.audit">Audit</span></dt>
                <dd>
                    <div *ngIf="utilisateur.audit">
                        <a [routerLink]="['/audit', utilisateur.audit?.id, 'view']">{{utilisateur.audit?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="spiralErpApp.utilisateur.entreprise">Entreprise</span></dt>
                <dd>
                    <div *ngIf="utilisateur.entreprise">
                        <a [routerLink]="['/entreprise', utilisateur.entreprise?.id, 'view']">{{utilisateur.entreprise?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/utilisateur', utilisateur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
