<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-article-heading" jhiTranslate="spiralErpApp.article.home.createOrEditLabel">Create or edit a Article</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.article.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.article.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.article.numero" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.article.audit" for="field_audit">Audit</label>
                    <select class="form-control" id="field_audit" name="audit" formControlName="audit">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="auditOption.id === editForm.get('audit')!.value?.id ? editForm.get('audit')!.value : auditOption" *ngFor="let auditOption of audits; trackBy: trackById">{{auditOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.article.entreprise" for="field_entreprise">Entreprise</label>
                    <select class="form-control" id="field_entreprise" name="entreprise" formControlName="entreprise">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="entrepriseOption.id === editForm.get('entreprise')!.value?.id ? editForm.get('entreprise')!.value : entrepriseOption" *ngFor="let entrepriseOption of entreprises; trackBy: trackById">{{entrepriseOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
