<div>
    <h2>Gestion de projet</h2>
    <hr>

    <div class="p-grid">
        <div class="p-col">
            <h3>A faire</h3>

            <div style="margin-bottom: 7px; width: 80%" pDraggable="taches">
                <p-card header="Acheter produit">
                    <div>
                        Acheter des produits de néttoyage.
                        <br>
                        <span><fa-icon icon="user"></fa-icon><strong><em>Gyle</em></strong></span>
                    </div>
                </p-card>
            </div>

            <div style="margin-bottom: 7px; width: 80%" pDraggable="taches">
                <p-card header="Nettoyage des communs">
                    <div>
                        Nettoyage des communs par le stagiaire.
                        <br>
                        <span><fa-icon icon="user"></fa-icon><strong><em>Gyle</em></strong></span>
                    </div>
                </p-card>
            </div>

            <div style="margin-bottom: 7px; width: 80%" pDraggable="taches">
                <p-card header="Livrer Mr. Luc">
                    <div>
                        Aller livrer 3 colis de chaussures à Mr. Luc.
                        <br>
                        <span><fa-icon icon="user"></fa-icon><strong><em>Gyle</em></strong></span>
                    </div>
                </p-card>
            </div>




        </div>
        <div class="p-col" pDroppable="taches">
            <h3>En cours</h3>
            <div style="margin-bottom: 7px; width: 80%" pDraggable="taches">
                <p-card header="Formation du stagiaire">
                    <div>
                        Former le nouveau stagiaire au tâche journalière.
                        <br>
                        <span><fa-icon icon="user"></fa-icon><strong><em>Legy</em></strong></span>
                    </div>
                </p-card>
            </div>
        </div>
        <div class="p-col">
            <h3>Terminer</h3>
            <div style="margin-bottom: 7px; width: 80%" pDraggable="taches">
                <p-card header="Déposer recette du jour">
                    <div>
                        Aller déposer la recette du jour à la banque.
                        <br>
                        <span><fa-icon icon="user"></fa-icon><strong><em>Beaute Verlosienne</em></strong></span>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>
