<!--
-->
<div>
    <div class="p-grid p-align-center vertical-container">
        <div class="p-col-12 p-md-8">
            <h4>Listes des fournisseurs</h4>
        </div>
    </div>
    <p-dataView [value]="fournisseurList" [style]="{'width':'100%'}">
        <p-header>
            <div class="p-grid p-align-center vertical-container">
                <div class="p-col-10"><input pInputText placeholder="Rechercher"></div>
                <div class="p-col-2"><button pButton icon="pi pi-plus" routerLink="/fournisseurs/ajouter"></button></div>
            </div>
        </p-header>

        <ng-template let-fournisseur pTemplate="listItem">
            <div class="p-grid data-item data-view-item" [routerLink]="['/fournisseurs','3','modifier']">
                <div class="p-col-12">
                    <span style="font-weight: bold;">{{ fournisseur.nom }}</span><br>
                    <span style="margin-right: 10px; display: block"><strong>N°:</strong> {{ fournisseur.numero }}</span>
                    <span style="margin-right: 10px; display: block"><strong>Téléphone:</strong> {{ fournisseur.telephone }}</span>
                    <span style="margin-right: 10px; display: block"><strong>Adresse:</strong> {{ fournisseur.adresse }}</span>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
