<!--
-->
<div>
    <div style="margin-bottom: 7px">
        <p-button icon="pi pi-chevron-left" label="Retour" (onClick)="back()"></p-button>
    </div>

    <div>
        <p-panel>
            <p-header>
                <div class="ui-helper-clearfix">
                    <span class="ui-panel-title">{{ titre }}</span>
                </div>
            </p-header>
            <div class="ui-fluid" style="margin-bottom: 13px">
                <span style="display: block">Numero</span>
                <span>17888</span>
            </div>
            <div class="ui-fluid" style="margin-bottom: 13px">
                <span>Nom</span>
                <input pInputText>
            </div>
            <div class="ui-fluid" style="margin-bottom: 13px">
                <span>Téléphone</span>
                <input pInputText>
            </div>
            <div class="ui-fluid" style="margin-bottom: 13px">
                <span>Adresse</span>
                <input pInputText>
            </div>
        </p-panel>

        <p-toolbar [style]="{'margin-top':'7px'}">
            <div class="ui-toolbar-group-right">
                <button pButton type="button" icon="pi pi-save" label="Enregistrer"></button>
                <button pButton type="button" icon="pi pi-times" class="ui-button-danger" label="Supprimer"></button>
            </div>
        </p-toolbar>
    </div>

</div>
