<!--
-->
<div class="div-component">
    <h4>Listes des achats</h4>
    <p-dataView [value]="achats">
        <p-header>
            <div class="p-grid p-align-center vertical-container">
                <div class="p-col-10">
                    <erp-recherche></erp-recherche>
                </div>
                <div class="p-col-2"><button pButton icon="pi pi-plus" routerLink="/achats/creer"></button></div>
            </div>
        </p-header>

        <ng-template let-achat pTemplate="listItem">
            <div class="p-grid data-view-item" routerLink="/achats/creer">
                <div class="p-col-12">
                    <span style="font-weight: bold;">{{ achat.nomArticle }} - {{ getMontantTotal(achat) }} FCFA</span><br>
                    <span>
                        <em>Quantité:</em>
                        <strong>{{ achat.quantite }}</strong>
                    </span>
                    <span style="padding: 0 7px">|</span>
                    <span>
                        <em>Prix Unitaire:</em>
                        <strong>{{ achat.prixUnitaire }}</strong>
                    </span>
                    <div>
                        <em>Acheteur:</em>
                        <strong>{{ achat.nomAcheteur }}</strong>
                    </div>
                    <div>
                        <em>Date:</em>
                        <strong>{{ getDate(achat.dateAchat) }}</strong>
                    </div>
                </div>
            </div>
        </ng-template>

    </p-dataView>
</div>
