<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-vente-heading" jhiTranslate="spiralErpApp.vente.home.createOrEditLabel">Create or edit a Vente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.vente.tauxTVA" for="field_tauxTVA">Taux TVA</label>
                    <input type="number" class="form-control" name="tauxTVA" id="field_tauxTVA"
                           formControlName="tauxTVA"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.vente.quantiteVendu" for="field_quantiteVendu">Quantite Vendu</label>
                    <input type="number" class="form-control" name="quantiteVendu" id="field_quantiteVendu"
                           formControlName="quantiteVendu"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.vente.prixUnitaireVente" for="field_prixUnitaireVente">Prix Unitaire Vente</label>
                    <input type="number" class="form-control" name="prixUnitaireVente" id="field_prixUnitaireVente"
                           formControlName="prixUnitaireVente"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.vente.audit" for="field_audit">Audit</label>
                    <select class="form-control" id="field_audit" name="audit" formControlName="audit">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="auditOption.id === editForm.get('audit')!.value?.id ? editForm.get('audit')!.value : auditOption" *ngFor="let auditOption of audits; trackBy: trackById">{{auditOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.vente.vendeur" for="field_vendeur">Vendeur</label>
                    <select class="form-control" id="field_vendeur" name="vendeur" formControlName="vendeur">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="utilisateurOption.id === editForm.get('vendeur')!.value?.id ? editForm.get('vendeur')!.value : utilisateurOption" *ngFor="let utilisateurOption of utilisateurs; trackBy: trackById">{{utilisateurOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.vente.article" for="field_article">Article</label>
                    <select class="form-control" id="field_article" name="article" formControlName="article">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="articleOption.id === editForm.get('article')!.value?.id ? editForm.get('article')!.value : articleOption" *ngFor="let articleOption of articles; trackBy: trackById">{{articleOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.vente.entreprise" for="field_entreprise">Entreprise</label>
                    <select class="form-control" id="field_entreprise" name="entreprise" formControlName="entreprise">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="entrepriseOption.id === editForm.get('entreprise')!.value?.id ? editForm.get('entreprise')!.value : entrepriseOption" *ngFor="let entrepriseOption of entreprises; trackBy: trackById">{{entrepriseOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
