<div>
    <h2 id="page-heading">
        <span jhiTranslate="spiralErpApp.vente.home.title">Ventes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vente" [routerLink]="['/vente/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="spiralErpApp.vente.home.createLabel">
            Create a new Vente
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="ventes?.length === 0">
        <span jhiTranslate="spiralErpApp.vente.home.notFound">No ventes found</span>
    </div>
    <div class="table-responsive" *ngIf="ventes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="spiralErpApp.vente.tauxTVA">Taux TVA</span></th>
            <th scope="col" ><span jhiTranslate="spiralErpApp.vente.quantiteVendu">Quantite Vendu</span></th>
            <th scope="col" ><span jhiTranslate="spiralErpApp.vente.prixUnitaireVente">Prix Unitaire Vente</span></th>
            <th scope="col" ><span jhiTranslate="spiralErpApp.vente.audit">Audit</span></th>
            <th scope="col" ><span jhiTranslate="spiralErpApp.vente.vendeur">Vendeur</span></th>
            <th scope="col" ><span jhiTranslate="spiralErpApp.vente.article">Article</span></th>
            <th scope="col" ><span jhiTranslate="spiralErpApp.vente.entreprise">Entreprise</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vente of ventes ;trackBy: trackId">
                <td><a [routerLink]="['/vente', vente.id, 'view' ]">{{vente.id}}</a></td>
                <td>{{vente.tauxTVA}}</td>
                <td>{{vente.quantiteVendu}}</td>
                <td>{{vente.prixUnitaireVente}}</td>
                <td>
                    <div *ngIf="vente.audit">
                        <a [routerLink]="['/audit', vente.audit?.id, 'view' ]" >{{vente.audit?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vente.vendeur">
                        <a [routerLink]="['/utilisateur', vente.vendeur?.id, 'view' ]" >{{vente.vendeur?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vente.article">
                        <a [routerLink]="['/article', vente.article?.id, 'view' ]" >{{vente.article?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vente.entreprise">
                        <a [routerLink]="['/entreprise', vente.entreprise?.id, 'view' ]" >{{vente.entreprise?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/vente', vente.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vente', vente.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(vente)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
