<!--
-->
<div>
    <h2>Gestion des droits et des accès</h2>
    <hr>

    <div class="ui-fluid" style="margin-bottom: 35px">
        <label>Employe</label>
        <p-dropdown></p-dropdown>
    </div>

    <div class="p-grid">
        <div class="p-col-5">
            <p-table [value]="domaineList" [selectionMode]="'single'" [(selection)]="domainSelected" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Domaine</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-domaine let-rowData>
                    <tr [pSelectableRow]="rowData">
                        <td>{{ domaine.libelle }}</td>
                    </tr>
                </ng-template>
            </p-table>

        </div><!--[/col]-->

        <div class="p-col-7">
            <p-pickList [source]="sourceList" [target]="targetList" [responsive]="true" [showSourceControls]="false"
                        [showTargetControls]="false" sourceHeader="Droits du domaine" targetHeader="Droits accordés">
                <ng-template let-droit pTemplate="item">
                    <div>{{droit}}</div>
<!--                    <div class="ui-helper-clearfix">-->
<!--                        <div>{{droit}}</div>-->
<!--                    </div>-->
                </ng-template>
            </p-pickList>

        </div>

    </div>


</div>
