<!--
-->
<div>
    <h2>Gestion des droits et des accès</h2>
    <hr>

    <div class="ui-fluid" style="margin-bottom: 35px">
        <label>Employe</label>
        <p-dropdown></p-dropdown>
    </div>

    <div class="p-grid">
        <div class="p-col-4">
            <h3></h3>
            <p-listbox [options]="domaineList" [(ngModel)]="domainSelected" optionLabel="libelle" [style]="{'width':'100%'}">
                <p-header>Liste des domaines</p-header>
            </p-listbox>
        </div><!--[/col]-->

        <div class="p-col-8">
            <p-pickList [source]="sourceList" [target]="targetList" [responsive]="true" [showSourceControls]="false"
                        [showTargetControls]="false" sourceHeader="Droits du domaine" targetHeader="Droits accordés">
                <ng-template let-droit pTemplate="item">
                    <div>{{droit}}</div>
<!--                    <div class="ui-helper-clearfix">-->
<!--                        <div>{{droit}}</div>-->
<!--                    </div>-->
                </ng-template>
            </p-pickList>

        </div>

    </div>


</div>
