<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-achat-heading" jhiTranslate="spiralErpApp.achat.home.createOrEditLabel">Create or edit a Achat</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.achat.dateAchat" for="field_dateAchat">Date Achat</label>
                    <div class="d-flex">
                        <input id="field_dateAchat" type="datetime-local" class="form-control" name="dateAchat" formControlName="dateAchat" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.achat.prixUnitaire" for="field_prixUnitaire">Prix Unitaire</label>
                    <input type="number" class="form-control" name="prixUnitaire" id="field_prixUnitaire"
                           formControlName="prixUnitaire"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.achat.quantite" for="field_quantite">Quantite</label>
                    <input type="number" class="form-control" name="quantite" id="field_quantite"
                           formControlName="quantite"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.achat.audit" for="field_audit">Audit</label>
                    <select class="form-control" id="field_audit" name="audit" formControlName="audit">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="auditOption.id === editForm.get('audit')!.value?.id ? editForm.get('audit')!.value : auditOption" *ngFor="let auditOption of audits; trackBy: trackById">{{auditOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralErpApp.achat.entreprise" for="field_entreprise">Entreprise</label>
                    <select class="form-control" id="field_entreprise" name="entreprise" formControlName="entreprise">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="entrepriseOption.id === editForm.get('entreprise')!.value?.id ? editForm.get('entreprise')!.value : entrepriseOption" *ngFor="let entrepriseOption of entreprises; trackBy: trackById">{{entrepriseOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
