<div>
    <h2>Bilan du mois de Février 2020</h2>
    <hr>

    <div style="margin: auto">
        <div class="p-grid" style="padding: 0px 7px">
            <div class="p-col" style="border-right: solid 1px; border-bottom: dashed 1px">
                <span style="font-weight: bold">Recettes</span>
                <div style="padding-bottom: 15px">
                    <span style="display: inline-block"><fa-icon icon="calendar"></fa-icon> 01/02 - 07/02</span><br>
                    <span style="display: inline-block"><fa-icon icon="dollar-sign"></fa-icon> 1 000 000 FCFA</span>
                </div>
                <div style="padding-bottom: 15px">
                    <span style="display: inline-block"><fa-icon icon="calendar"></fa-icon> 01/02 - 07/02</span><br>
                    <span style="display: inline-block"><fa-icon icon="dollar-sign"></fa-icon> 1 000 000 FCFA</span>
                </div>
                <div style="padding-bottom: 15px">
                    <span style="display: inline-block"><fa-icon icon="calendar"></fa-icon> 01/02 - 07/02</span><br>
                    <span style="display: inline-block"><fa-icon icon="dollar-sign"></fa-icon> 1 000 000 FCFA</span>
                </div>
                <div style="padding-bottom: 15px">
                    <span style="display: inline-block"><fa-icon icon="calendar"></fa-icon> 01/02 - 07/02</span><br>
                    <span style="display: inline-block"><fa-icon icon="dollar-sign"></fa-icon> 1 000 000 FCFA</span>
                </div>
                <div style="padding-bottom: 15px">
                    <span style="display: inline-block"><fa-icon icon="calendar"></fa-icon> 01/02 - 07/02</span><br>
                    <span style="display: inline-block"><fa-icon icon="dollar-sign"></fa-icon> 1 000 000 FCFA</span>
                </div>

            </div>
            <div class="p-col" style="border-bottom: dashed 1px">
                <span style="font-weight: bold">Dépenses</span>
                <div style="padding-bottom: 15px">
                    <span style="display: inline-block"><fa-icon icon="dot-circle"></fa-icon> Loyer</span><br>
                    <span style="display: inline-block"><fa-icon icon="minus"></fa-icon> 1 000 000 FCFA</span>
                </div>
                <div style="padding-bottom: 15px">
                    <span style="display: inline-block"><fa-icon icon="dot-circle"></fa-icon> Plombier</span><br>
                    <span style="display: inline-block"><fa-icon icon="minus"></fa-icon> 1 000 000 FCFA</span>
                </div>
                <div style="padding-bottom: 15px">
                    <span style="display: inline-block"><fa-icon icon="dot-circle"></fa-icon> Electricité</span><br>
                    <span style="display: inline-block"><fa-icon icon="minus"></fa-icon> 1 000 000 FCFA</span>
                </div>
                <div style="padding-bottom: 15px">
                    <span style="display: inline-block"><fa-icon icon="dot-circle"></fa-icon> Salaire</span><br>
                    <span style="display: inline-block"><fa-icon icon="minus"></fa-icon> 1 000 000 FCFA</span>
                </div>

            </div>
        </div>
        <div class="p-grid">
            <div class="p-col" style="padding-left: 10%"><span style="font-weight: bold">5 000 000 FCFA</span></div>
            <div class="p-col" style="padding-left: 10%"><span style="font-weight: bold">4 000 000 FCFA</span></div>
        </div>
        <div style="margin-top: 50px; text-align: center"><span style="border: solid 3px blue; padding: 15px"><span style="font-weight: bold">Résultat: 1 000 000 FCFA</span></div>
    </div>
</div>
