<!--
-->
<div class="div-component">
    <h4>Listes des dépenses</h4>
    <p-dataView [value]="depenseList">
        <p-header>
            <div class="p-grid p-align-center vertical-container">
                <div class="p-col-10"><input pInputText placeholder="Rechercher"></div>
                <div class="p-col-2"><button pButton icon="pi pi-plus" routerLink="/depenses/creer"></button></div>
            </div>
        </p-header>
        <ng-template let-depense pTemplate="listItem">
            <div class="p-grid data-view-item" routerLink="/depenses/creer">
                <div class="p-col-12">
                    <span style="font-weight: bold;">{{ depense.libelle }} - {{ depense.montant }} FCFA</span><br>
                    <span style="margin-right: 10px; display: inline-block"><strong>Type de dépense:</strong> {{ depense.typeDepense }}</span>
                    <span style="margin-right: 10px; display: inline-block"><strong>Date:</strong> {{ depense.dateDepense }}</span>
                </div>
            </div>
        </ng-template>

    </p-dataView>
</div>
