<!--
-->
<div class="div-component">
    <h2>Stocks</h2>
    <hr>
    <div class="p-grid">
        <div class="p-col-12 p-md-4">
            <erp-panel-dashboard [titre]="'Carton de chaussure'" [detail]="'Nombre d\'unité: 10'" [value]="12" [backgroundColor]="'#DFE3EE'"></erp-panel-dashboard>
        </div>
        <div class="p-col-12 p-md-4">
            <erp-panel-dashboard [titre]="'Pantalon'" [detail]="'Nombre d\'unité: 1'" [value]="50" [backgroundColor]="'#DFE3EE'"></erp-panel-dashboard>
        </div>
        <div class="p-col-12 p-md-4">
            <erp-panel-dashboard [titre]="'Ballot de chemise'" [detail]="'Nombre d\'unité: 1'" [value]="100" [backgroundColor]="'#DFE3EE'"></erp-panel-dashboard>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-12 p-md-4">
            <erp-panel-dashboard [titre]="'Veste'" [detail]="'Nombre d\'unité: 10'" [value]="123" [backgroundColor]="'#DFE3EE'"></erp-panel-dashboard>
        </div>
        <div class="p-col-12 p-md-4">
            <erp-panel-dashboard [titre]="'Carton de Sac'" [detail]="'Nombre d\'unité: 3'" [value]="23" [backgroundColor]="'#DFE3EE'"></erp-panel-dashboard>
        </div>
        <div class="p-col-12 p-md-4">
            <erp-panel-dashboard [titre]="'Chaussette'" [detail]="'Nombre d\'unité: 5'" [value]="320" [backgroundColor]="'#DFE3EE'"></erp-panel-dashboard>
        </div>
    </div>
</div>
