<!--
-->
<div class="div-component">
    <h2>Tableau de bord</h2>
    <hr>

    <div class="p-grid" style="margin-bottom: 10px;">
        <div class="p-col-12 p-md-4">
            <erp-panel-dashboard [titre]="'Chiffre d\'affaire'" [detail]="'Chiffre d\'affaire du mois'"
                                 [value]="'9.000.000'"
                                 [backgroundColor]="'#34A853'"></erp-panel-dashboard>
        </div>
        <div class="p-col-12 p-md-4">
            <erp-panel-dashboard [titre]="'Employés'" [detail]="'Nombre d\'employés connectés'"
                                 [value]="12"></erp-panel-dashboard>
        </div>
        <div class="p-col-12 p-md-4">
            <erp-panel-dashboard [titre]="'Articles vendus'" [detail]="'Nombre d\'articles vendus dans le mois'"
                                 [value]="21" [backgroundColor]="'#FBBC05'"></erp-panel-dashboard>
        </div>
    </div>

    <div>
        <div style="margin-top: 25px; margin-bottom: 25px; border: solid 1px #f5f7f7;">
            <p-chart type="bar" [data]="myData" height="400px" [responsive]="true"></p-chart>
        </div>
        <div>
            <p-dataView [value]="venteList">
                <p-header>Ventes récentes</p-header>
                <ng-template let-vente pTemplate="listItem">
                    <div class="p-grid" style="padding: 10px 10px; border-bottom: solid 0.1em #eee">
                        <div class="p-col-12">
                            <span style="font-weight: bold;">{{ vente.libelleProduit }} - {{ vente.prixVente }}
                                FCFA</span><br>
                            <span style="margin-right: 10px; display: block"><strong>N° d'article:</strong>
                                {{ vente.numeroProduit }}
                            </span>
                            <span style="margin-right: 10px; display: block"><strong>Vendeur:</strong> {{ vente.vendeur }}</span>
                            <span style="margin-right: 10px; display: block"><strong>Date:</strong> {{ vente.dateVente }}</span>
                        </div>
                    </div>
                </ng-template>
                <p-footer>
                    <div style="margin-top: 15px;">
                        <a routerLink="/ventes" style="text-decoration: underline; margin-left: 50%;">
                            Voir toutes les ventes
                        </a>
                    </div>
                </p-footer>
            </p-dataView>
        </div>
    </div>
</div>
